.title-light{
    color: white;
}

.input-field.prefix.active{
    color: white;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.auth
{
  padding-top: 80px;
}


.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.login-form {
  margin-top: 2.5em;
}

.hidden {
  visibility: hidden;
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}
/* Vlad's CSS Stylesheet */
 nav ul a,
 nav .brand-logo {
   color: white;
 }

 nav{
   position: fixed;
   z-index: 100
 }

 p {
   line-height: 2rem;
 }
 
 #index-banner .section {
   padding-top: 60px;
 }
 #logo-image {
   width: 63px;
 }

 .button-collapse {
   color: #87eaff;
 }
 .how-to-text {
   text-align: center;
 }

 .users_buttons li{
   display: inline-block;
   margin-right:5px;
 }

 .users_buttons a {
   width: 130px;
 }

 .icon-block {
   padding: 0 15px;
 }
 .icon-block .material-icons {
   font-size: inherit;
 }

 footer.page-footer {
   margin: 0;
 }
